extends /layouts/dashboard
include /mixins/sidebar

append head
  title Benefit Runs

block dashboard
  +sidebar('Benefit Runs')
  main.main-content.dashboard
    .card.card--full-width
      .card__container
        