extends /layouts/dashboard
include /mixins/sidebar

append head
  title Benefit Runs

block dashboard
  +sidebar('Benefit Runs')
  main.main-content.dashboard
    .card.card--full-width
      .card__container
        .card__btns-container.card__btns-container--top-right
          .form-group
            select.form-group__control.form-group__control--btn-select
              option Calendar view
              option List view
          a.btn.btn--size-35(href="./create") Create Run
        .card__header.card__header--bordered
          h2.card__title.card__title--big Benefit Runs
        .table.table--benefit-runs
          .table__row.table__row--heading-row
            .table__cell.table__cell--heading Name
            .table__cell.table__cell--heading Submitted
              button.icon-btn.table__cell-icon(type="button")
                include /icons/arrow-down
            .table__cell.table__cell--heading Total
            .table__cell.table__cell--heading Status
          .table__row
            .table__cell April Run (WVBLI9EHD)
            .table__cell 04/23/2019
            .table__cell $2,834
            .table__cell Processing
          .table__row
            .table__cell April Run (WVBLI9EHD)
            .table__cell 04/08/2019
            .table__cell $2,834
            .table__cell Processing
          .table__row
            .table__cell March Run (WVBLI9EHD)
            .table__cell 03/25/2019
            .table__cell $2,834
            .table__cell Contribution complete
          .table__row
            .table__cell March Run (WVBLI9EHD)
            .table__cell 03/10/2019
            .table__cell $2,834
            .table__cell Contribution complete
          .table__row
            .table__cell Feb Run (WVBLI9EHD)
            .table__cell 02/27/2019
            .table__cell $2,834
            .table__cell Contribution complete
          .table__row
            .table__cell Feb Run (WVBLI9EHD)
            .table__cell 02/10/2019
            .table__cell $2,834
            .table__cell Contribution complete
          .table__row
            .table__cell Jan Run (WVBLI9EHD)
            .table__cell 01/28/2019
            .table__cell $2,834
            .table__cell Contribution complete
          .table__row
            .table__cell Jan Run (WVBLI9EHD)
            .table__cell 01/04/2019
            .table__cell $2,834
            .table__cell Contribution complete
          .table__row
            .table__cell Dec Run (WVBLI9EHD)
            .table__cell 12/15/2018
            .table__cell $2,834
            .table__cell Contribution complete
          .table__row
            .table__cell Dec Run (WVBLI9EHD)
            .table__cell 12/01/2018
            .table__cell $2,834
            .table__cell Contribution complete