extends /layouts/dashboard
include /mixins/sidebar

append head
  title Benefit Runs

block dashboard
  +sidebar('Benefit Runs')
  main.main-content.dashboard
    .card.card--full-width
      .card__container
        .card__top-right-btns-container
          button.btn.btn--transparent-gray.btn--size-30 Refresh
          button.btn.btn--size-40 Next
        .card__header.card__header--bordered.card__header--edit-heading
          h2.card__title.card__title--big
            a.icon-btn.card__nav-icon(href="/benefit-runs")
              include /icons/navigation-arrow-back
            input.card__heading-input(type='text' value="April Run")
        .table.table--benefit-runs-create
          .table__row.table__row--heading-row
            .table__cell.table__cell--heading
                label.form-group.table__cell-form-group
                  input.form-group__checkbox(type="checkbox")
                  span.form-group__label-checkbox
            .table__cell.table__cell--heading Name (16)
              button.icon-btn.table__cell-icon.table__cell-icon--search(type="button")
                include /icons/search
            .table__cell.table__cell--heading Contribution ($2,200)

          - for (let i = 1; i <= 10; i++) {
            .table__row
              .table__cell
                label.form-group.table__cell-form-group
                  input.form-group__checkbox(type="checkbox")
                  span.form-group__label-checkbox
              .table__cell Jonathon Kolache
              .table__cell $100
              .table__cell
                a.link(href="#") Edit
          - }
          