header.main-header
  .main-header__wrapper
    .main-header__logo
      include /blocks/logo
    .main-header__user-block
      button.icon-btn.main-header__bell-icon
        include /icons/bell
      img.main-header__user-photo(src="/img/user.jpg", alt="user")
      span.main-header__user-name Sarah Porter
      button.icon-btn.main-header__expand-icon
        include /icons/expand