svg(width='32', height='32', fill="none", viewBox='0 0 32 32', xmlns='http://www.w3.org/2000/svg')
  path(fill-rule='evenodd', clip-rule='evenodd', d='M4 7.33331C4 6.22874 4.89543 5.33331 6 5.33331H26C27.1046 5.33331 28 6.22874 28 7.33331V27.3333C28 28.4379 27.1046 29.3333 26 29.3333H6C4.89543 29.3333 4 28.4379 4 27.3333V7.33331Z', stroke='#4D4D4D', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
  path(d='M21.3333 2.66669V8.00002', stroke='#4D4D4D', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
  path(d='M10.6667 2.66669V8.00002', stroke='#4D4D4D', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
  path(d='M4 13.3333H28', stroke='#4D4D4D', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
