svg(width='14', height='12', viewBox='0 0 14 12', xmlns='http://www.w3.org/2000/svg')
  path(d='M4.60002 8.92501L1.45002 5.77501L0.400024 6.82501L4.60002 11.025L13.6 2.02501L12.55 0.975006L4.60002 8.92501Z')
