.benefit-runs-calendar {
  margin-bottom: 31px;
  padding-top: 25px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: $light;
    color: $brand-dark-color;
  }

  &__arrows-container {
    margin-right: 29px;
  }

  &__arrow {
    svg {
      width: 20px;
      height: 20px;

      * {
        fill: $gray-600;
      }
    }

    &--right {
      margin-left: 15px;

      svg {
        transform: rotate(180deg);
      }
    }
  }


  &__body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 178px;
    grid-auto-rows: 161px;
  }

  &__day-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    border-bottom: 1px solid $gray-100;
    border-right: 1px solid $gray-100;

    &:nth-child(-n + 5) {
      border-top: 1px solid $gray-100;
    }

    &:nth-child(5n) {
      border-right: none;
    }
  }

  &__day-name {
    display: block;
    font-size: 14px;
    color: $gray-600;
  }

  &__day-number {
    display: block;
    margin-top: 11px;
    font-size: 14px;
    color: $gray-600;
  }

  @media #{$sm} {
    padding-top: 28px;

    &__body {
      grid-template-columns: 1fr;
      grid-template-rows: 171px;
      grid-auto-rows: 169px;
      // max-height: 1780px;
      // overflow-y: scroll;
    }

    &__header {
      margin-bottom: 29px;
    }

    &__title {
      margin: 0 auto;
    }

    &__arrows-container {
      position: absolute;
      width: 100%;
    }

    &__arrow {
      position: absolute;
      top: -10px;
      margin: 0;

      &--right {
        right: 0;
      }
    }

    &__day-item {
      position: relative;
      padding-top: 22px;
      border: none !important;
      border-left: 1px solid $gray-100 !important;
      border-right: 1px solid $gray-100 !important;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 5%;
        width: 90%;
        height: 1px;
        background-color: $gray-100;
      }

      &:first-of-type {
        border-top: 1px solid $gray-100 !important;
      }

      &:last-of-type {
        border-bottom: 1px solid $gray-100 !important;
        &::after {
          display: none;
        }
      }
    }

    &__day-number {
      margin-top: 16px;
    }
  }
}
