.benefit-runs-confirmation {
  margin-top: 3px;
  margin-bottom: 95px;

  &__title {
    margin: 0;
    margin-bottom: 39px;
    font-size: 34px;
    font-weight: $medium;
    text-align: center;
    color: $brand-dark-color;
  }

  &__columns {
    display: flex;
    padding: 52px;
    padding-top: 48px;
  }

  &__column {
    box-sizing: border-box;
    width: 50%;

    &:last-of-type {
      padding-left: 20px;
    }
  }

  &__column-title {
    margin: 0;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: $medium;
    color: $brand-dark-color;
  }

  &__steps-list {
    @include ul-reset();
  }

  &__step-item {
    position: relative;
    min-height: 40px;
    margin-left: 15px;
    padding-left: 23px;
    font-size: 16px;
    line-height: 20px;
    font-weight: $regular;
    color: $gray-800;

    &:not(:last-of-type) {
      padding-bottom: 21px;
      border-left: 1px solid $gray-100;
    }

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -10px;
      width: 16px;
      height: 16px;
      background-color: $white;
      border: 2px solid $brand-dark-color;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 4px $white;
    }
  }

  @media #{$sm} {
    margin-top: 35px;
    margin-bottom: 20px;

    &__title {
      margin-bottom: 0;
      padding-bottom: 35px;
      font-size: 30px;
      border-bottom: 1px solid $gray-100;
    }

    &__columns {
      flex-wrap: wrap;
      padding: 0;
      padding-top: 41px;
    }

    &__column {
      width: 100%;

      &:last-of-type {
        padding-left: 0;
      }
    }

    &__steps-list {
      margin-bottom: 40px;
    }

    &__step-item {
      margin-left: 10px;
    }
  }
}
