.btn {
  display: inline-block;
  box-sizing: border-box;
  width: max-content;
  padding-top: 10px;
  padding-bottom: 8px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  color: $white;
  background-color: $brand-color;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &[disabled], &:disabled {
    opacity: .5;
    cursor: default;
  }

  &:hover {
    filter: brightness(1.07);
  }

  &:active {
    filter: brightness(1.1);
  }

  &--size-10 {
    padding-right: 10px;
    padding-left: 10px;
  }
  &--size-15 {
    padding-right: 15px;
    padding-left: 15px;
  }
  &--size-20 {
    padding-right: 20px;
    padding-left: 20px;
  }
  &--size-25 {
    padding-right: 25px;
    padding-left: 25px;
  }
  &--size-30 {
    padding-right: 30px;
    padding-left: 30px;
  }
  &--size-35 {
    padding-right: 35px;
    padding-left: 35px;
  }
  &--size-40 {
    padding-right: 40px;
    padding-left: 40px;
  }

  &--transparent {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
    color: $white;
    border: 2px solid $white;
    background-color: transparent;
  }

  &--transparent-gray {
    color: $gray-600;
    background-color: transparent;
    border: 1px solid $gray-100;
  }

  &--gray {
    color: $white;
    background-color: $gray-200;
  }

  &--dark-gray {
    color: $white;
    background-color: $gray-600;
  }

  &--calendar-btn {
    width: 94%;
    margin-top: 25px;
    padding: 0 10px;
    padding-top: 6px;
    padding-bottom: 4px;
    font-size: 14px;
    border-radius: 4px;
  }
  
  &--brand-dark {
    color: $white;
    background-color: $brand-dark-color;
  }

  &--green {
    color: $white;
    background-color: $green;
  }
}
