.card {
  padding: 25px;
  background-color: $white;
  border: 1px solid $medium-gray;
  border-radius: 8px;

  &--setup {
    padding: 5px;
    .setup-customize-with-programs {
      display: flex;
      background: rgba($brand-color, 0.05);
      border-radius: 8px;
      margin: 16px 53px;
      padding: 3px 45px 15px;
      align-items: center;
      &__img {
        margin-right: 31px;
      }
      &__title {
        font-size: 24px;
        line-height: 29px;
        font-weight: 600;
        color: $brand-dark-color;
        margin: 9px 0;
      }
      &__subtitle {
        font-size: 16px;
        line-height: 23px;
        color: #4D4D4D;
        font-weight: 500;
        a {
          color: $brand-color;
          text-decoration: none;
        }
      }
    }
  }
}
