.dashboard {
  display: flex;
  flex-wrap: wrap;

  &__column {
    box-sizing: border-box;
    width: 50%;

    &:first-of-type {
      padding-right: $dashboard-gap / 2;
    }
    &:last-of-type {
      padding-left: $dashboard-gap / 2;
    }
  }
}

@media (max-width: 1200px) {
  .dashboard {
    &__column {
      width: 100%;

      &:first-of-type {
        padding-right: 0;
      }
      
      &:last-of-type {
        padding-left: 0;
      }
    }
  }
}