.form-group {
  margin-bottom: 29px;

  &__checkbox {
    display: none;
  }

  &__checkbox:checked + &__label-checkbox {
    &:before {
      content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 0H2C0.9 0 0 0.9 0 2V16C0 17.1 0.9 18 2 18H16C17.1 18 18 17.1 18 16V2C18 0.9 17.1 0 16 0ZM16 16H2V2H16V16ZM13.58 4.58L14.99 6L6.99 14L2.99 10.01L4.41 8.6L6.99 11.17L13.58 4.58Z' fill='%230B3551'/%3E%3C/svg%3E%0A");
      position: absolute;
      left: 0;
      top: 2px;
    }
  }

  &__checkbox:disabled + &__label-checkbox {
    &:after {
      border-color: $gray-600;
    }

    &:before {
      content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 0H2C0.9 0 0 0.9 0 2V16C0 17.1 0.9 18 2 18H16C17.1 18 18 17.1 18 16V2C18 0.9 17.1 0 16 0ZM16 16H2V2H16V16ZM13.58 4.58L14.99 6L6.99 14L2.99 10.01L4.41 8.6L6.99 11.17L13.58 4.58Z' fill='%23808080'/%3e%3c/svg%3e ");
      position: absolute;
      left: 0;
      top: 2px;
    }
  }

  &__label-checkbox {
    font-size: 16px;
    color: $gray-600;
    padding-left: 40px;
    padding-right: 35px;
    display: block;
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 14px;
      height: 14px;
      border-radius: 2px;
      border: 2px solid $brand-dark-color;
    }

    &--small {
      font-size: 14px;
      line-height: 15px;
    }

    &--brand-dark-color {
      font-size: 18px;
      line-height: 22px;
      font-weight: $medium;
      color: $brand-dark-color;
    }
  }

  &__label {
    color: $brand-dark-color;
    font-size: 18px;
    line-height: 22px;
    display: block;
    font-weight: $medium;
    margin-bottom: 11px;

    &--info {
      &:after {
        content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.1665 4.83329H9.83317V6.49996H8.1665V4.83329Z' fill='%230B3551'/%3E%3Cpath d='M8.1665 8.16663H9.83317V13.1666H8.1665V8.16663Z' fill='%230B3551'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666504 8.99996C0.666504 4.39996 4.39982 0.666626 8.99984 0.666626C13.5999 0.666626 17.3332 4.39996 17.3332 8.99996C17.3332 13.6 13.5999 17.3333 8.99984 17.3333C4.39982 17.3333 0.666504 13.6 0.666504 8.99996ZM2.33317 8.99996C2.33317 12.675 5.32481 15.6666 8.99984 15.6666C12.6749 15.6666 15.6665 12.675 15.6665 8.99996C15.6665 5.32496 12.6749 2.33329 8.99984 2.33329C5.32481 2.33329 2.33317 5.32496 2.33317 8.99996Z' fill='%230B3551'/%3E%3C/svg%3E%0A");
        position: relative;
        left: 10px;
        bottom: -3px;
      }
    }

    &--upload {
      &::after {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.125 5.36666C15.5583 2.49167 13.0333 0.333332 10 0.333332C7.59167 0.333332 5.5 1.7 4.45833 3.7C1.95 3.96667 0 6.09166 0 8.66666C0 11.425 2.24167 13.6667 5 13.6667H15.8333C18.1333 13.6667 20 11.8 20 9.5C20 7.3 18.2917 5.51666 16.125 5.36666ZM15.8333 12H5C3.15833 12 1.66667 10.5083 1.66667 8.66667C1.66667 6.95833 2.94167 5.53333 4.63333 5.35833L5.525 5.26667L5.94167 4.475C6.73333 2.95 8.28333 2 10 2C12.1833 2 14.0667 3.55 14.4917 5.69167L14.7417 6.94167L16.0167 7.03333C17.3167 7.11666 18.3333 8.20833 18.3333 9.5C18.3333 10.875 17.2083 12 15.8333 12ZM8.79167 7.83333H6.66667L10 4.5L13.3333 7.83333H11.2083V10.3333H8.79167V7.83333Z' fill='%230B3551'/%3e%3c/svg%3e ");
        position: relative;
        left: 10px;
        bottom: -3px;
      }
    }

    &--file {
      display: block;
      margin-top: 18px;
      margin-bottom: 45px;
      padding: 38px 0;
      font-size: 14px;
      text-align: center;
      color: $gray-600;
      background-color: rgba($gray-100, 0.2);
      border: 2px dashed $gray-100;
      border-radius: 8px;
      cursor: pointer;
    }

    &--photo {
      span {
        display: block;
        margin-top: 20px;
      }
    }

    &--big {
      font-size: 22px;
      margin-bottom: 29px;
    }
  }

  &__file {
    display: none;
  }

  &__control {
    font-family: $main-font;
    color: $gray-800;
    background: $white;
    border: 1px solid #dadada;
    border-radius: 8px;
    font-size: 18px;
    line-height: 22px;
    padding: 14px 17px;
    width: 100%;
    appearance: none;

    &::placeholder {
      color: $gray-600;
    }

    &--text-small {
      font-size: 14px;
    }

    &--select {
      padding-right: 70px;
    }

    &--btn-select {
      padding: 8px 15px;
      font-size: 16px;
      color: $gray-600;
    }

    &--text-light {
      font-weight: $light;
      line-height: 28px;
    }

    &--calendar {
      position: relative;

      &::after {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 2H17V0H15V2H5V0H3V2H2C0.9 2 0 2.9 0 4V20C0 21.1 0.9 22 2 22H18C19.1 22 20 21.1 20 20V4C20 2.9 19.1 2 18 2ZM18 20H2V9H18V20ZM2 7H18V4H2V7Z' fill='%23808080'/%3e%3c/svg%3e ");
        position: absolute;
        right: 0;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translate(-50%);
      }
    }
  }

  &__controls-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > *:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__text-between-fields {
    font-size: 18px;
    color: $gray-400;
  }

  &__radio {
    display: none;
  }

  &__radio:checked + &__label-radio {
    &:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      width: 10px;
      height: 10px;
      background: $brand-dark-color;
      border-radius: 50%;
    }
  }

  &__radio:disabled + &__label-radio {
    &:after {
      background: $gray-600;
    }

    &:before {
      border-color: $gray-600;
    }
  }

  &__label-radio {
    font-size: 18px;
    line-height: 22px;
    color: $brand-dark-color;
    padding-left: 33px;
    margin-right: 31px;
    font-weight: 500;
    position: relative;
    margin-top: 11px;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border: 2px solid $brand-dark-color;
      border-radius: 50%;
      left: 0;
      top: 0;
    }
  }

  &__hint-text {
    font-size: 14px;
    font-weight: $light;
    color: $gray-800;
  }

  &--small-mb {
    margin-bottom: 18px;
  }

  &--medium-mb {
    margin-bottom: 36px;
  }

  &--large-mb {
    margin-bottom: 45px;
  }

  &--controls-new-line {
    flex-direction: column;

    > *[class*='label'] {
      display: block;
    }
  }

  // &--select {
  //   position: relative;
  //   z-index: 99;

  //   select {
  //     display: none;
  //   }

  //   .select-styled {
  //     font-weight: 500;
  //     position: relative;
  //     background-color: #fff;
  //     border: 1px solid #dadada;
  //     border-radius: 8px;
  //     height: auto;
  //     color: #4d4d4d;
  //     font-size: 18px;
  //     padding: 14px 20px 9px;

  //     &.active {
  //       border-radius: 8px 8px 0 0;
  //     }

  //     &:before {
  //       position: absolute;
  //       content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.04041 9.5L11.9856 14.5L16.9307 9.5H7.04041Z' fill='black' fill-opacity='0.54'/%3E%3C/svg%3E%0A");
  //       right: 11px;
  //       top: 16px;
  //     }
  //   }

  //   .select-options {
  //     display: none;
  //     position: absolute;
  //     top: 51px;
  //     left: 0;
  //     right: 0;
  //     background: #ffffff;
  //     font-size: 18px;
  //     line-height: normal;
  //     color: #808080;
  //     padding: 10px 18px;
  //     list-style: none;
  //     border: 1px solid #cccccc;
  //     box-sizing: border-box;
  //     border-radius: 0 0 8px 8px;

  //     li {
  //       cursor: pointer;
  //       line-height: 2.1;

  //       &.addNew {
  //         border-top: 1px solid #eaeaea;
  //         font-size: 18px;
  //         line-height: normal;
  //         color: #13c8f5;
  //         position: relative;
  //         padding-left: 32px;
  //         margin-top: 7px;
  //         padding-top: 12px;
  //         padding-bottom: 6px;

  //         &:before {
  //           content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z' fill='%2313C8F5'/%3E%3C/svg%3E%0A");
  //           position: absolute;
  //           left: -1px;
  //           top: 11px;
  //         }
  //       }
  //     }
  //   }

  //   .top {
  //     + .select-styled.active {
  //       border-radius: 0 0 8px 8px;
  //     }

  //     + div + ul {
  //       bottom: 35px;
  //       top: inherit;
  //       border-radius: 8px 8px 0 0;
  //     }
  //   }
  // }
}
