.link {
  font-weight: $regular;
  text-decoration: none;
  color: $brand-color;

  &--with-plus {
    font-size: 18px;
    line-height: 22px;
    padding-left: 32px;
    position: relative;
    display: inline-block;

    &::before {
      content: '+';
      position: absolute;
      left: 5px;
      top: 0;
      font-size: 25px;
      color: $brand-color;
    }
  }
}
