.main-header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 32px;
  background-color: $white;
  border-bottom: 1px solid $gray-100;
  
  &__wrapper {
    @include container();
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user-block {
    display: flex;
    align-items: center;
    margin-right: 36px;
  }
  
  &__user-photo {
    width: 32px;
    height: 32px;
    margin-left: 35px;
  }

  &__user-name {
    padding-right: 21px;
    padding-left: 12px;
    font-size: 18px;
    font-weight: $regular;
    font-style: normal;
    color: $gray-800;
  }
}
