.progress-table {
  &__list {
    @include ul-reset();
  }

  &__item {
    display: flex;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 21px;
    border-bottom: 1px solid $gray-100;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__icon {
    padding-right: 16px;

    svg {
      width: 32px;
      min-height: 18px;
    }
  }

  &__text-container {
    padding-right: 25px;
  }

  &__item-title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: $medium;
    color: $gray-800;
  }

  &__item-text {
    font-size: 14px;
    font-weight: $light;
    line-height: 1.25;
    color: $gray-800;
  }

  &__badge {
    margin-top: 3px;
    margin-right: 24px;
    margin-left: auto;
  }

  @media #{$sm} {
    margin-top: 10px;

    &__list {
      padding-left: 7px;
    }

    &__item {
      flex-wrap: wrap;
      padding-bottom: 23px;
    }

    &__icon {
      svg {
        min-height: 21px;
      }
    }

    &__text-container {
      width: 80%;
      flex-grow: 1;
      padding-right: 0;
    }

    &__badge {
      margin: 0;
      margin-top: 12px;
      margin-left: 47px;
    }
  }
}