.setup {
  &__steps {
    margin-bottom: 62px;
    border-bottom: 1px solid $gray-100;

    &--small-mb {
      margin-bottom: 16px;
    }
  }

  &__form {
    margin-bottom: 61px;

    &--large-mb {
      margin-bottom: 181px;
    }
  }

  &__btn {
    margin-top: 138px;
    margin-left: auto;
  }

  &__link-with-plus {
    margin-top: 18px;
  }

  &--main {
    display: flex;
    align-items: center;
    padding-top: 135px;
    padding-right: 48%;
    padding-bottom: 24.7%;
    padding-left: 134px;
    background: url('/img/setup-main.png') no-repeat 84.8% 13%;

    .setup {
      &__container {
        padding: 0;
      }

      &__title {
        margin: 0;
        margin-bottom: 18px;
        font-size: 32px;
        line-height: 39px;
        font-weight: 600;
        color: $brand-dark-color;
      }

      &__description {
        margin: 0;
        margin-bottom: 26px;
        font-size: 18px;
        line-height: 1.32;
        letter-spacing: 0.1px;
        color: $gray-600;
      }

      &__btn {
        margin: 0;
        margin-top: 14px;
      }
    }
  }

  &--with-alert {
    .setup {
      &__alert {
        margin-bottom: 33px;
      }

      &__container {
        padding-right: 42px;
        padding-left: 53px;
      }
    }
  }
}
