.sidebar {
  position: fixed;
  top: 106px;
  left: 2.46%;

  &__nav-list {
    @include ul-reset();
  }

  &__nav-item {
    padding-right: 105px;

    &:first-of-type {
      a {
        padding-top: 0;
      }
    }

    svg {
      position: relative;
      top: -1px;
      margin-right: 20px;

      * {
        fill: $gray-600;
      }
    }

    a {
      display: flex;
      align-items: center;
      padding: 13px 0;
      font-size: 16px;
      text-decoration: none;
      color: $gray-600;
    }

    &--active {
      a {
        color: $brand-dark-color;
      }

      svg {
        * {
          fill: $brand-dark-color;
        }
      }
    }

    &--accordion {
      .sidebar {
        &__nav-item {
          padding-left: 39px;
          a {
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }

      &:first-of-type {
        margin-top: 16px;
        padding-top: 12px;
      }

      &:nth-child(n + 2) {
        border-top: none;
      }
    }
  }
}
