.stats {
  box-sizing: border-box;
  width: 100%;
  padding: 0 8px;

  &__list {
    @include ul-reset();
    display: flex;
  }

  &__item {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    padding-top: 22px;
    padding-bottom: 54px;
    text-align: center;

    &:not(:last-of-type) {
      &::after {
        content: '';
        position: absolute;
        top: 6%;
        right: 0;
        width: 1px;
        height: 88%;
        background-color: $gray-100;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-bottom: 18px;
    border: 1px solid $gray-100;
    border-radius: 50%;

    svg {
      * {
        fill: $gray-500;
      }
    }
  }

  &__text {
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: $medium;
    color: $gray-500;
  }

  &__info {
    font-size: 30px;
    font-weight: $medium;
    color: $brand-dark-color;
  }

  &--benefit-runs-confirmation {
    border-top: 1px solid $gray-100;
    border-bottom: 1px solid $gray-100;
    background-color: rgba($gray-100, 0.15);

    .stats {
      &__item {
        display: flex;
        flex-direction: column;
        padding-top: 45px;
        padding-bottom: 28px;
      }

      &__text {
        order: 1;
        margin-bottom: 0;
      }

      &__info {
        margin-bottom: 19px;
      }
    }
  }

  &--bank-account {
    .stats {
      &__item {
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-top: 55px;
        text-align: center;

        &:last-of-type {
          padding-left: 30px;
        }

        &:not(:last-of-type) {
          &::after {
            content: '';
            position: absolute;
            top: 11%;
            right: -15px;
            width: 1px;
            height: 78%;
            background-color: $gray-100;
          }
        }
      }

      &__text {
        max-width: 335px;
        margin-top: 0;
        margin-bottom: 11px;
        padding: 0 20px;
        line-height: 1.2;
      }

      &__info {
        max-width: 385px;
        margin-bottom: 26px;
        font-size: 23px;
      }

      &__icon {
        border: none;
        width: 40px;
        height: 40px;

        svg {
          * {
            fill: $brand-dark-color;
          }
        }
      }

      &__btn {
        margin-top: 26px;
      }

      &__file-upload-label {
        padding: 42px 50px;
      }
    }
  }
}
