extends /layouts/dashboard
include /mixins/sidebar

append head
  title Bank account

block dashboard
  +sidebar('Bank Account')
  main.main-content.dashboard
    .card.card--full-width.card--standart-paddings
      .card__container
        button.card__dropdown.dropdown(type="button")
          .dropdown__icon
            include /icons/dropdown
          .dropdown__list
            a.dropdown__item(href="./edit") Edit Bank Account
            a.dropdown__item(href="#") Delete Bank Account
        .card__header.card__header--bordered
          h2.card__title.card__title--verified Bank Account
          p.card__subtitle Goodly uses this funding account for employee contributions
        form.form.form--full-width.card__form(method='POST' action='/register')
          .form__container
            .form__column
              .form-group
                label.form-group__label(for='accountHolder') Account Holder
                select#accountHolder.form-group__control.form-group__control--select(name='accountHolder' disabled)
                  option(disabled selected) Company
                  option 1
                  option 2
                  option 3
              .form-group
                label.form-group__label(for='accountType') Account Type
                select#accountType.form-group__control.form-group__control--select(name='accountType' disabled)
                  option(disabled selected) Checking
                  option 1
                  option 2
                  option 3
              .form-group
                label.form-group__label.form-group__label--info(for='accountHolderName') Account Holder Name
                input#accountHolder.form-group__control(type="text" placeholder="Sarah Porter" name="accountHolderName" disabled)
            .form__column
              .form-group
                label.form-group__label(for='routingNumber') Routing Number
                input#routingNumber.form-group__control(type="text" placeholder="123827738" name="routingNumber" disabled)
              .form-group
                label.form-group__label(for='accountNumber') Account Number
                input#accountNumber.form-group__control(type="text" placeholder="993882733" name="accountNumber" disabled)