extends /layouts/dashboard
include /mixins/sidebar

append head
  title Employees

block dashboard
  +sidebar('Employees')
  main.main-content.dashboard
    .card.card--full-width
      .card__container
        .card__btns-container.card__btns-container--top-right
          button.btn.btn--size-15 Invite Employee
        .card__header.card__header--bordered
          h2.card__title.card__title--big Employees
        .employees
          .employees__columns
            .employees__column
              span.employees__brand-dark-text Share Invite Link
              .employees__share-link.share-link
                .share-link__container
                  span.share-link__adress https://goodlyapp.com/join/39nrbdoJaJcm
                  include /icons/copy
                p.share-link__text.share-link__text--small Once the employee signs up using this link, they will be enrolled in the primary program and added as an inactive employee.
            .employees__column
              span.employees__brand-dark-text Invite page description
              a.link.employees__top-right-link(href="#") Preview
              .form-group.employees__form-group
                textarea.form-group__control.form-group__control--text-small.employees__textarea Hello from ACME Inc! Click the button to sign up for Goodly. Contact elizabeth@acme.com with any questions.
        .table.table--employees
          .table__row.table__row--heading-row
            .table__cell.table__cell--heading Name
              button.icon-btn.table__cell-icon(type="button")
                include /icons/arrow-down
            .table__cell.table__cell--heading ID
            .table__cell.table__cell--heading Work email
            .table__cell.table__cell--heading Program
            .table__cell.table__cell--heading Status
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown