extends /layouts/dashboard
include /mixins/sidebar

append head
  title Employees

block dashboard
  +sidebar('Employees')
  main.main-content.dashboard
    .card.card--full-width
      .card__container
        .card__header.card__header--bordered
          h2.card__title.card__title--big Employees
          .card__btns-container.card__btns-container--top-right
            button.btn.btn--size-15(data-toggle="modal" data-target="inviteEmployee") Invite Employee
        .employees
          .employees__columns
            .employees__column
              span.employees__brand-dark-text Share Invite Link
              .employees__share-link.share-link
                .share-link__container
                  span.share-link__adress https://goodlyapp.com/join/39nrbdoJaJcm
                  include /icons/copy
                p.share-link__text.share-link__text--small Once the employee signs up using this link, they will be enrolled in the primary program and added as an inactive employee.
            .employees__column
              span.employees__brand-dark-text Invite page description
              a.link.employees__top-right-link(href="#") Preview
              .form-group.employees__form-group
                textarea.form-group__control.form-group__control--text-small.employees__textarea Hello from ACME Inc! Click the button to sign up for Goodly. Contact elizabeth@acme.com with any questions.
        .table.table--employees
          .table__row.table__row--heading-row
            .table__cell.table__cell--heading Name
              button.icon-btn.table__cell-icon(type="button")
                include /icons/arrow-down
            .table__cell.table__cell--heading ID
            .table__cell.table__cell--heading Work email
            .table__cell.table__cell--heading Program
            .table__cell.table__cell--heading Status
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell.table__cell--dropdown
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
                .dropdown__list
                  a.dropdown__item(href="#") Resend invite
                  a.dropdown__item(href="#") Edit
                  a.dropdown__item(href="#") Delete
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell.table__cell--dropdown
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
                .dropdown__list
                  a.dropdown__item(href="#") Resend invite
                  a.dropdown__item(href="#") Edit
                  a.dropdown__item(href="#") Delete
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell.table__cell--dropdown
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
                .dropdown__list
                  a.dropdown__item(href="#") Resend invite
                  a.dropdown__item(href="#") Edit
                  a.dropdown__item(href="#") Delete
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell.table__cell--dropdown
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
                .dropdown__list
                  a.dropdown__item(href="#") Resend invite
                  a.dropdown__item(href="#") Edit
                  a.dropdown__item(href="#") Delete
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell.table__cell--dropdown
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
                .dropdown__list
                  a.dropdown__item(href="#") Resend invite
                  a.dropdown__item(href="#") Edit
                  a.dropdown__item(href="#") Delete
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell.table__cell--dropdown
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
                .dropdown__list
                  a.dropdown__item(href="#") Resend invite
                  a.dropdown__item(href="#") Edit
                  a.dropdown__item(href="#") Delete
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell.table__cell--dropdown
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
                .dropdown__list
                  a.dropdown__item(href="#") Resend invite
                  a.dropdown__item(href="#") Edit
                  a.dropdown__item(href="#") Delete
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell.table__cell--dropdown
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
                .dropdown__list
                  a.dropdown__item(href="#") Resend invite
                  a.dropdown__item(href="#") Edit
                  a.dropdown__item(href="#") Delete
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell.table__cell--dropdown
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
                .dropdown__list
                  a.dropdown__item(href="#") Resend invite
                  a.dropdown__item(href="#") Edit
                  a.dropdown__item(href="#") Delete
          .table__row
            .table__cell Joe Paulson
            .table__cell 1063
            .table__cell joe@acme.com
            .table__cell Engineering Program
            .table__cell Ready
            .table__cell.table__cell--dropdown
              button.dropdown(type="button")
                .dropdown__icon
                  include /icons/dropdown
                .dropdown__list
                  a.dropdown__item(href="#") Resend invite
                  a.dropdown__item(href="#") Edit
                  a.dropdown__item(href="#") Delete
  #inviteEmployee.modal.card
    h3.card__title.modal__title Invite Employee
    button.modal__close-btn.icon-btn
      include /icons/close
    form.modal__form
      .form-group
        label.form-group__label(for='employeeName') Employee Name
        input#employeeName.form-group__control(type='text', placeholder='Enter name' name='employeeName')
      .form-group
        label.form-group__label(for='employeeId') Employee ID
        input#employeeId.form-group__control(type='text', placeholder='Enter ID' name='employeeId')
      .form-group
        label.form-group__label(for='workEmail') Work Email
        input#workEmail.form-group__control(type='email', placeholder='Enter email' name='workEmail')
      .form-group
        label.form-group__label(for='program') Program
        input#program.form-group__control(type='text', placeholder='Select program' name='program')
      .form-group
        label.form-group__label(for='companyStartDate') Company Start Date
        input#companyStartDate.form-group__control(type='text', placeholder='mm/dd/yyyy' name='companyStartDate')
      .form-group
        .form-group__controls-wrapper
          input#activeEmployee.form-group__checkbox(type='checkbox')
          label.form-group__label-checkbox.form-group__label-checkbox--brand-dark-color(for='activeEmployee') Active employee
    .card__btns-container.card__btns-container--bottom-right
      button.btn.btn--size-40(type="button") Send