extends /layouts/dashboard
include /mixins/sidebar

append head
  title Home

block sidebar
  +sidebar('Home')

block dashboard
  main.main-content.dashboard
    article.card.card--stats.stats
      ul.stats__list
        li.stats__item
          span.stats__icon
            include /icons/dollar
          span.stats__text Total contribution to employees
          b.stats__info $14,928
        li.stats__item
          span.stats__icon
            include /icons/person
          span.stats__text Employees using Goodly
          b.stats__info 12 employees
        li.stats__item
          span.stats__icon
            include /icons/check
          span.stats__text Total Employee loans paid off
          b.stats__info 7 loans
        li.stats__item
          span.stats__icon
            include /icons/check
          span.stats__text Total Employer Contributions
          b.stats__info $2,460

    .dashboard__column
      .card
        .card__container
          h2.card__title.card__title--big Employee Account Overview
          .card__graph.card__graph--employee-account
            img(src="/img/graphs/employee-account.svg")
      .card
        .card__container
          h2.card__title.card__title--big Employee Quick Invite
          .card__brand-dark-text Share Invite Link
          .card__share-link.share-link
            span.share-link__adress https://goodlyapp.com/join/39nrbdoJaJcm
            include /icons/copy
          p.card__light-text Once the employee signs up using this link, they will be enrolled in the primary program and added as an inactive employee.
          a.btn.btn--size-20.card__btn Add Employee
    .dashboard__column
      .card
        .card__container
          h2.card__title.card__title--big Benefit Runs Overview
          .progress-table.card__progress-table
            ul.progress-table__list
              li.progress-table__item
                .progress-table__icon
                  include /icons/calendar
                .progress-table__text-container
                  h4.progress-table__item-title April Run (Y3YWHGJS)
                  span.progress-table__item-text <b>$2,328</b> will complete on May 3
                .progress-table__badge.badge.badge--transparent
                  span.badge__text UPCOMING
              li.progress-table__item
                .progress-table__icon
                  include /icons/check
                .progress-table__text-container
                  h4.progress-table__item-title April Run (Y3YWHGJS)
                  span.progress-table__item-text <b>$2,328</b> contribution complete on April 15
                .progress-table__badge.badge
                  span.badge__text COMPLETE
              li.progress-table__item
                .progress-table__icon
                  include /icons/check
                .progress-table__text-container
                  h4.progress-table__item-title March Run (M38NJZGJS)
                  span.progress-table__item-text <b>$2,328</b> contribution complete on April 3
                .progress-table__badge.badge
                  span.badge__text COMPLETE
          a.link.card__link.card__link--left(href="#") View Benefit Runs
      .card.card--with-bg-img.card--bg-img-1
        .card__container
          h2.card__title.card__title How to Set Up Benefit Runs and Programs in Goodly
          a.btn.btn--size-20.btn--transparent.card__btn Learn more