extends /layouts/setup

include /mixins/setup-steps.pug

append head
  title Goodly Setup | Programs

block setup
  .card.card--setup
    .setup.setup--with-alert
      +setup-steps({ activeStep: 3, modifier: 'small-mb'})
      .setup__container
        .alert.alert--customize-with-programs.setup__alert
          .alert__container
            .alert__title Customize with Programs
            .alert__subtitle Use programs to customize employee contribution based on time, department, etc. 
              a.link(href='#') Learn more
      form.form.form--setup-wider-form.setup__form(method='POST' action='/register')
        .form__container
          .form__column
            .form-group.form-group--large-mb
              label.form-group__label(for='programName') Program Name
              input#programName.form-group__control(type='text', placeholder='Enter name (ex. Marketing Team)' name='programName')
            .form-group.form-group--large-mb
              label.form-group__label.form-group__label--info Assistance Type
              input#radio1.form-group__radio(type='radio' name='assistanceType')
              label.form-group__label-radio(for='radio1') Contribution
              input#radio2.form-group__radio(type='radio' name='assistanceType')
              label.form-group__label-radio(for='radio2') Deduction
            .form-group.form-group--large-mb
              label.form-group__label(for='description') Description
              input#description.form-group__control(type='text', placeholder='Enter program description' name='description')

          .form__column
            .form-group.form-group--large-mb
              label.form-group__label.form-group__label--info(for='payrollCode') Payroll Code
              input#payrollCode.form-group__control(type='text', placeholder='Enter code' name='payrollCode')
            .form-group.form-group--large-mb
              label.form-group__label.form-group__label--info Contribution vesting schedule
              .form-group__controls-wrapper
                select.form-group__control.form-group__control--select
                  option(value='') May
                  option(value='') 2
                  option(value='') 3
                select.form-group__control.form-group__control--select
                  option(value='') Dec
                  option(value='') 2
                  option(value='') 3
                input.form-group__control(type='text' placeholder="$100.00")
              a.link.link--with-plus.setup__link-with-plus(href='#') Add another level
            .form-group.form-group--large-mb
              label.form-group__label.form-group__label--info(for='defaultContributionAmount') Default contribution amount
              input#defaultContributionAmount.form-group__control(type='text', placeholder='$0.00' name='defaultContributionAmount')
        .card__btns-container.card__btns-container--bottom-right
          a.btn.btn--size-40(href="./step-4") Next
