body {
  margin: 0;
  font-family: $main-font;
  background-color: $body-color;
}

img {
  max-width: 100%;
}

b {
  font-weight: $bold;
}

@media (min-width: 1600px) {
  body {
    position: relative;
    width: 1600px;
    margin: 0 auto;
  }
}