@mixin container() {
  width: 97.4%;
  margin: 0 auto;
}

@mixin ul-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin icon-btn() {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
