// colors
$white: #fff;
$light-gray: #fcfcfc;
$medium-gray: #e8e8e8;

// typography
$main-font: 'ModernEra', 'Arial', 'Helvetica', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$extra-bold: 700;