// colors
$brand-color: #13c8f5;
$brand-dark-color: #0b3551;
$white: #fff;
$gray-100: #eaeaea;
$gray-200: #cccccc;
$gray-400: #999999;
$gray-500: #7f7f7f;
$gray-600: #808080;
$gray-800: #4d4d4d;
$gray-900: #333333;
$body-color: #fcfcfc;

// typography
$main-font: 'ModernEra', 'Arial', 'Helvetica', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$extra-bold: 700;

// other
$dashboard-gap: 32px;